<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Табела со податоци</title>
</head>
<body>
    <h1>Табела со податоци</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Код на издавач</th>
                <th>Датум</th>
                <th>Цена на последна трансакција</th>
                <th>Макс. цена</th>
                <th>Мин. цена</th>
                <th>Просечна цена</th>
                <th>Количина</th>
                <th>Промет во денари</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


